.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: center;
}



.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px
  }
  
.grid{
    padding: 20px;
}

/*nav bar*/

nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(187, 144, 107);
    top: 0;
    width: 100%;
    position: fixed;
}

nav ul li{
    float: left;
    font-size: 1rem;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:hover{
    background-color: rgb(182, 135, 103);
}

nav #active{
    background-color: #b3879f;
}
