h1{
    margin-top: 75px;
    margin-bottom: none;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: rgb(254, 248, 243);
    margin-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe {
    font-size: 18px;
}

/* cookie info grid */
.cgrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: center;
    margin-top: 5px;
    margin-right: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: center;
    margin-top: auto;
}


.polaroid {
    background-color: white;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px
  }
  
/* add zoom*/
.zoom {
padding: 5%;
transition: transform .2s; /* Animation */
margin: 0 auto;
}

.zoom:hover {
transform: scale(1.1); 
}



/*nav bar*/

nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(187, 144, 107);
    top: 0;
    width: 100%;
    position: fixed;
}

nav ul li{
    float: left;
    font-size: 1rem;
    
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:hover{
    background-color: rgb(182, 135, 103);
}

nav #active{
    background-color: #b3879f;
}

